@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to left, #9597BF, #5653A6);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 3px #826b88bd;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
 color: #8C5954;
 text-align: center;
 text-shadow: 1px 1px 2px #633e3ba4 
 ;
}

h2{
    color: #241E26;
}

p {
    text-align: justify;
}